:root {
  --main-text-color: #FFFFFF;
  --second-text-color: #F3F3F3;
  --third-text-color: #D1D1D1;
  --hover-color: #006360;
  --cubik: cubic-bezier(.51, 0, .54, .99);
}

body {
  font-family: "Poppins", "JetBrains Mono", "Roboto", "Bevan" sans-serif;
  background-color: bisque;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: auto;
  outline: 1px solid tomato;
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 428px;
    padding-left: 37px;
    padding-right: 37px;
  }
}

.hero {
  position: relative;
  width: 428px;
  margin: auto;
  padding: 146px 0 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(/images/mobile/hero-back-mobile.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/mobile/hero-back-mobile.jpg);
}
.hero__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 37px;
  padding-right: 37px;
  background-color: rgba(0, 0, 0, 0.26);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__link {
  padding: 17px 0;
}
.hero__title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 35px;
}
.hero__title--dark-up {
  font-size: 48px;
  color: #D1D1D1;
}
.hero__title--dark {
  font-weight: 500;
  font-size: 26px;
  color: #D1D1D1;
}
.hero__discription {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.27;
  text-align: center;
  margin-bottom: 41px;
}
.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: -37px;
  margin-bottom: 66px;
}
.hero__line {
  display: block;
  left: 0;
  width: 152px;
  height: 1px;
  background-color: var(--main-text-color);
  -webkit-transition: background-color 250ms var(--cubik);
  transition: background-color 250ms var(--cubik);
}
.hero__wrap:hover .hero__line, .hero__wrap:focus .hero__line {
  background-color: var(--hover-color);
}
.hero__button {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: block;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  color: var(--main-text-color);
  background-color: transparent;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.27;
  padding: 9px 30px;
  -webkit-transform: border;
          transform: border;
  -webkit-transition: color 250ms var(--cubik), border 250ms var(--cubik);
  transition: color 250ms var(--cubik), border 250ms var(--cubik);
}
.hero__wrap:hover .hero__button, .hero__wrap:focus .hero__button {
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
}
.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -37px;
  margin-right: -37px;
}

.burger {
  cursor: pointer;
  color: var(--main-text-color);
  background-color: transparent;
  padding: 0;
  border: none;
  -webkit-transition: color 250ms var(--cubik);
  transition: color 250ms var(--cubik);
}
.burger:hover, .burger:focus {
  color: var(--hover-color);
}
.burger__icon {
  fill: currentColor;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 17, 8);
  padding: 33px 0;
}
.price__parag-one {
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: -2px;
  margin-bottom: 18px;
  color: rgba(255, 255, 255, 0.7);
}
.price__parag-two {
  font-family: "Bevan";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -1px;
  color: #FFFFFF;
  text-align: center;
}/*# sourceMappingURL=main.css.map */